.image-grid-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    column-count: 2;
}

.image-grid-item {
    break-inside: avoid;
    display: flex;
    margin-top: 16px;
}

@media (min-width: 768px) {
    .image-grid-list {
        column-count: 3;
    }
}

@media (min-width: 1024px) {
    .image-grid-list {
        column-count: 4;
    }
}
