---
import { getArtworkById } from '../services/artworks'
import { getImageUrl } from '../services/images'

const { data } = await getArtworkById(56931)
const imageUrl = getImageUrl(data?.image_id)
---

<section
    class="w-full h-full bg-black bg-cover bg-center"
    style={`background-image: url(${imageUrl})`}
>
    <div
        class="text-4xl font-bold text-white w-full h-full flex items-center justify-center bg-[rgba(0,0,0,0.6)]"
    >
        <a href="/games">Art Gallery Games</a>
    </div>
</section>
